---
{% if status %}
status: {{ status }}
{% endif %}
{% if updated %}
updated: {{ updated }}
{% endif %}
---

# ApiSpec

{{ description }}

## Module

{{ module }}

## Functions

{% for component in functions %}
### {{ component.name }}

| Function | Entity | Inputs | Output | Description |
|---|---|---|---|---|
{% for fn in component.functions %}
| `{{ fn.name }}` | {{ fn.entity }} | {{ fn.inputs | join(', ') }} | {{ fn.output }} | {{ fn.description }} |
{% endfor %}
{% endfor %}
{% if errorCodes %}
## Error Codes

| Error Code | Function | Condition |
|---|---|---|
{% for err in errorCodes %}
| {{ err.code }} | {{ err.function }} | {{ err.condition }} |
{% endfor %}
{% endif %}
